/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/public/packages/
/npm-debug.log
/app/database/local.sqlite
/node_modules
.idea
/public/upload
/app/config/packages/unisharp
/app/config/packages/laracasts
/app/storage/debugbar
/_ide_helper.php
/_TMP/*
/.vagrant
